.viewer-container {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.84);
	border: 1pt solid black;
	position: relative;
	padding: 10px;
	overflow: hidden;
	min-width: 900px;
}

#title-container {
	background: black;
	border: 2pt solid white;
	height: 40pt;
	padding: 10pt;
	line-height: 30pt;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 24pt;
	position: relative;
	min-width: 900px;
}

#DCategory {
	position: absolute;
	top: 65px;
	left: 20px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	//border: 1pt solid white;
}

#DRange {
	position: absolute;
	top: 65px;
	left: 210px;
	height: 24px;
	font-weight: bold;
	font-size: 11px;
	color: white;
	padding-top: 5px;
	//border: 1pt solid white;
}

#DCapOrProd {
	position: absolute;
	top: 68px;
	right: 400px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	//border: 1pt solid white;
}

#DFilter {
	position: absolute;
	top: 65px;
	right: 100px;
	color: white;
	font-weight: bold;
	font-size: 11px;
	vertical-align: super;
	//border: 1pt solid white;
}

#DCounter {
	position: absolute;
	top: 65px;
	right: 30px;
	//border: 1pt solid white;
}

#Counter {
	background: #9da1a6;
	font-size: 11px;
	color: white;
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 3px;
	gap: 3px;
	padding: 1px;
	text-align: center;
}

.container > div {
	flex-grow: 1;
	margin: 3px;
	gap: 3px;
	padding: 1px;
	background: #ede9dd;

	border-radius: 4px;
	border: 1px solid #333;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);

	transition: border-color 0.3s ease, border-width 0.3s ease;
	cursor: pointer;
}

.container :hover:not(.xxx):not(:has(*:hover)):not(:focus-visible):not(.selected), 
.container *:hover:not(.xxx):not(:has(*:hover)):not(:focus-visible):not(.selected){
    outline: 3px solid blue;
}

.Lvl1 { font-size: 95%; color: red; }
.Lvl2 { font-size: 90%; color: blue; }
.Lvl3 { font-size: 85%; color: green; }
.Lvl4 { font-size: 80%; color: rgb(153,51,153); }
.Lvl5 { font-size: 75%; color: rgb(153,102,51); }
.Lvl6 { font-size: 70%; color: rgb(204,51,0); }
.Lvl7 { font-size: 65%; color: purple; }
.Lvl8 { font-size: 60%; color: gray; }
.Lvl9 { font-size: 55%; color: black; }

/* Modal styling */
#modal {
        display: none;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
	margin: 0px;
}

#modal-content {
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        #box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
        width: 600px;
        text-align: left;
        position: relative;
	font-size: 12px;
	border: 0px;
}

#modal-name {
        font-weight: bold;
	font-size: 18px;
	color: white;
	height: 36px;	
	line-height: 36px;
        text-align: center;
	vertical-align: middle;
        background-color: #002080;
	padding: 6px;
}

#modal-close-x {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
	color: white;
}

#modal-close-x:hover {
	color: #bfbfbf;
}

#modal-table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-top: 15px;
}

#modal-table td, #modal-table th {
	border: 1px solid #ddd;
	padding: 4px;
}
#modal-table tr { font-size: 10px; }

#modal-table tr:nth-child(even){background-color: #f2f2f2;}
#modal-table tr:hover {background-color: #ddd;}

#modal-table th {
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	background-color: #0099ff;
	color: white;
}

.range {
	width: 100px;
	height: 10px;
	//padding-top: 5px;
	-webkit-appearance: none;
	background: gray;
	outline: none;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-webkit-slider-thumb {
	padding-top: 5px;
	-webkit-appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: cyan; //#00fd0a;
	cursor: pointer;
	border: 4px solid #333;
	box-shadow: -407px 0 0 400px gray; // #00fd0a;
}
