h1 {
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 3px;
	gap: 3px;
	padding: 1px;
	text-align: center;
}

.container > div {
	flex-grow: 1;
	margin: 3px;
	gap: 3px;
	padding: 1px;
	background: #ede9dd;

	border-radius: 4px;
	border: 1px solid #333;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

.Lvl1 { font-size: 95%; color: red; }
.Lvl2 { font-size: 90%; color: blue; }
.Lvl3 { font-size: 85%; color: green; }
.Lvl4 { font-size: 80%; color: rgb(153,51,153); }
.Lvl5 { font-size: 75%; color: rgb(153,102,51); }
.Lvl6 { font-size: 70%; color: rgb(204,51,0); }
.Lvl7 { font-size: 65%; color: purple; }
.Lvl8 { font-size: 60%; color: gray; }
.Lvl9 { font-size: 55%; color: black; }
